/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Raleway', sans-serif; 
    background: #FFFFFF;
}
.country {
    //fill: #cccccc;
    stroke: #333333;
    stroke-width: 0.5;
}

.state {
    //fill: #cccccc;
    stroke: #333333;
    stroke-width: 0.5;
}
.selected {
    fill : yellow
}
.hovered {
    // fill: #cccccc
    opacity:0.8;
    cursor: pointer;
    stroke-width: 2px;
}

svg {
    //background: grey;
}

.faded-text {
    color: grey;
    font-size: 10px;
}

.box {
    display: flex;
    align-items:center;
    padding: 20px;
 }
 .country-flag{
     border: 1px solid black;
 }
 .country-name {
     font-weight: 300;
     padding-left: 10px;
 }

 .small-text {
     font-size: 8px;
 }