/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

svg { 
    // background: #efefef;
}
.state {
    fill: #cccccc;
    stroke: #333333;
    stroke-width: 0.5;
}
.selected {
    fill : yellow
}
.hovered {
    fill: green
}