<div class="row" style="margin:60px;">
    <div class="col-md-12">
        <div class="row">
          <div class="mx-auto col-3 box justify-content-center">
            <img class="country-flag" *ngIf="allData" height="50" src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/{{allData['code']}}.png"/>
            <h3 class="country-name" *ngIf="allData">{{allData['name']}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <app-count-card [color]="'blue'"  [cardTitle]="'Confirmed'" [totalCount]="confirmed" [deltaCount]="deltaConfirmed" ></app-count-card>
          </div>
          <div class="col-md-3">
            <app-count-card [color]="'red'"  [cardTitle]="'Deaths'" [totalCount]="deaths" [deltaCount]="deltaDeaths"></app-count-card>
          </div>
          <div class="col-md-3">
            <app-count-card [color]="'green'"  [cardTitle]="'Recovered'" [totalCount]="recovered" [deltaCount]="deltaRecovered" ></app-count-card>
          </div>
          <div class="col-md-3">
            <app-count-card [color]="'orange'"  [cardTitle]="'Active'" [totalCount]="active" [deltaCount]="deltaActive"></app-count-card>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-12">
            <h3>Confirmed</h3>
          </div>
          <div class="col-xs-12 col-md-6 justify-content-center">
            <div class="card" style="margin-bottom:20px;">
              <app-bar-chart *ngIf="countrySlug" type="Confirmed"  source="{{countrySlug}}"></app-bar-chart>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card" style="margin-bottom:20px;">
              <app-line-chart *ngIf="countrySlug" type="Confirmed"  source="{{countrySlug}}"></app-line-chart>
            </div>
          </div>          
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-12">
            <h3>Deaths</h3>
          </div>
          <div class="col-xs-12 col-md-6 justify-content-center">
            <div class="card" style="margin-bottom:20px;">
              <app-bar-chart *ngIf="countrySlug" type="Deaths"  source="{{countrySlug}}"></app-bar-chart>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card" style="margin-bottom:20px;">
              <app-line-chart *ngIf="countrySlug" type="Deaths"  source="{{countrySlug}}"></app-line-chart>
            </div>
          </div>          
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-12">
            <h3>Recovered</h3>
          </div>
          <div class="col-xs-12 col-md-6 justify-content-center">
            <div class="card" style="margin-bottom:20px;">
              <app-bar-chart *ngIf="countrySlug" type="Recovered"  source="{{countrySlug}}"></app-bar-chart>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card" style="margin-bottom:20px;">
              <app-line-chart *ngIf="countrySlug" type="Recovered"   source="{{countrySlug}}"></app-line-chart>
            </div>
          </div>          
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-12">
            <h3>Active</h3>
          </div>
          <div class="col-xs-12 col-md-6 justify-content-center">
            <div class="card" style="margin-bottom:20px;">
              <app-bar-chart *ngIf="countrySlug" type="Active"  source="{{countrySlug}}"></app-bar-chart>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card" style="margin-bottom:20px;">
              <app-line-chart *ngIf="countrySlug" type="Active"  source="{{countrySlug}}"></app-line-chart>
            </div>
          </div>          
        </div>
    </div>
</div>