table {
  width: 100%;
  background: white;
  color: black;
  margin-top: 50px;
  border: none !important;
  box-shadow: none;
  text-align: justify;
}

td,
th {
  background: white;
  color: black;
}

tr:nth-child(odd) {
  background-color: #4C8BF5 !important;
  color: #fff !important;
}


.custom-table th {
  background-color: #0184FF;
  color:white;
}
.custom-table tbody tr:nth-child(odd){
  background-color: white;
}

.custom-table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
.operation-name {
  font-weight: 500;
}

a {
  text-decoration: underline;
  font-weight: 700;
  color:black;
}
.value-count {
  font-weight: 400;
}
.delta-confirmed {
  color:blue;
}
.delta-deaths {
  color:red;
}
